<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Server -->
  <category label="30106">
    <setting type="lsep" label="30106" />
	<setting id="server" type="text" label="30100" default="http://demo.subsonic.org" />
	<setting id="user" type="text" label="30101" default="guest2" />
	<setting id="password" type="text" option="hidden" label="30102" default="guest" />
    <setting type="lsep" label="30103" />
	<setting id="transcode" type="bool" label="30104" default="true" />
	<setting id="bitrate" type="enum" label="30105" default="13" values="32k|40k|48k|56k|64k|80k|96k|112k|128k|160k|192k|224k|256k|320k" enable="eq(-1,true)" />
  </category>
</settings>
